<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--全局配置-->
    <settings>
        <!--自动生成主键-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--运行使用别名替代列名-->
        <setting name="useColumnLabel" value="true"/>
        <!--启用数据库到驼峰命名的转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>
